doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    title アンケート一覧
  body
    h1 アンケート一覧
    ul
      li
        a(href=yakiOrShabu.path) #{yakiOrShabu.firstItem}・#{yakiOrShabu.secondItem}
      li
        a(href=riceOrBread.path) #{riceOrBread.firstItem}・#{riceOrBread.secondItem}
      li
        a(href=sushiOrPizza.path) #{sushiOrPizza.firstItem}・#{sushiOrPizza.secondItem}